@import "tailwindcss";


/* Custom Components */
@layer components {
  .form-label {
    @apply block mb-1 text-sm font-medium text-gray-700;
  }

  .form-input {
    @apply w-full rounded-md border border-gray-300
           px-3 py-2 text-sm
           focus:outline-none focus:ring-2 focus:ring-blue-500
           focus:border-blue-500;
  }

  .btn-primary {
    @apply bg-blue-600 text-white text-sm
           px-6 py-2 rounded-md
           hover:bg-blue-700 transition;
  }

  .card {
    @apply bg-white rounded-lg shadow border;
  }
}


body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #f5f6fa;
}

.sidebar {
    width: 230px;
    background: #2c3e50;
    min-height: 100vh;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 12px 20px;
    color: #ecf0f1;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #34495e;
}

.content {
    padding: 20px;
}

.topbar {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
